
body {
  font-size: 1em;
  display: block;
  position: relative;
  height: auto;
  overflow-y: scroll;
}

#widget-container {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  box-sizing: border-box;


}

#container-header {
  display: inline-flex;
  flex-flow: row-reverse nowrap;
  width: 100%;
  justify-content: space-between;
  margin: 0 2% 1% 2%;

}

#header-left {
  float: left;
  align-self: flex-start;
  display: inline;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 700;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#header-right {
  float: right;
  align-self: flex-end;
  display: inline;
  font-size: 12px;
}

a {
  text-decoration:none;
  color: black;
}

a:hover {
  text-decoration: underline;
}


img#image-logo {
   margin: 0em 0.2em -0.2em 0.2em;
}


.items {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 2% 2%;


}

.item-container {
  width: 31%;
  flex: 1 1 auto;
  position: relative;
  display: inline-block;
  flex-flow: column nowrap;
  margin: 0 0 2% 2%;
  box-sizing: border-box;
}


.item-title-wrapper {
  box-sizing: border-box;
  direction:ltr;
  display: -webkit-box;
  font-weight: bold;
  font-size: 18px;
  height: 70px;
  line-height: 24px;
  max-height: 72px;
  overflow-wrap: break-word;
  overflow: hidden;
  position: relative;
  width: auto !important;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;
  text-overflow: ellipsis;
  margin-bottom: 0.1em;
}

.item-bottom-branding {
  line-height: 24px;
  font-size: 12px;
  font-weight: 700;
  color: #999;
}

div.item-bottom-brand:hover {
  text-decoration-color: #999;
}


.thumbnail {
  width: 100%;
  display: block;
}


.category{
  text-transform: capitalize;
}


/* desktop  */

@media only screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1)  {
  body {
    min-width: 500px;
  }

}




/* tablet */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .widget-container {
      display: flex;
      justify-content: stretch;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    .items {
      border-top: 2px solid gray;
      margin: 0.2em;
      display: flex;
      flex-direction: row;
      position: relative;
      flex-wrap: wrap;

    }


}




/* phone */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    position: relative;
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #widget-container {
    width: 90%;

    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .items {
    border-top: 2px solid gray;
    width: 95% !important;
    margin: 0.2em;
    display: inline-flex;
    flex-direction: column;
    position: relative;

  }

  .item-container {
    width: 92%;
    cursor: pointer;
    flex: 1 1 auto;
    position: relative;
    display: inline-flex;
    flex-flow: column wrap;
  }


  .image-wrapper {
    width: 95% !important;
  }


}
