


@media only screen and (min-device-width: 1200px) {
  body {
    font-size: 1em;
    width: 100%;
    max-width: 780px;
    min-width: 580px;
    position: relative;
    overflow-y: auto;
    margin: 20px;

  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    position: relative;
    margin: 0.85em;

  }

  .widget-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .item-wrapper {
    /* width: calc(100%/3 - 5px); */
    /* width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 5px;
    cursor: pointer;
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-flow: row wrap; */
  }

  .items {
    border-top: 2px solid gray;
    width: 100%;
    display: block;
    position: relative;
  }

  .item-wrapper {
    /* width: calc(100%/3 - 5px); */
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    /* max-width: 350px; */
    margin: 5px;
    cursor: pointer;
    flex: 1 1 auto;
    position: relative;
    display: inline-flex;
    flex-flow: column wrap;
  }

  .item-container {
    width: 90%;
  }




}


@media only screen and (max-width: 320px) {


  /* body {
    font-size: 1em;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    position: relative;
    overflow-y: auto;
    margin: 20px;

  } */

  /* .widget-container {
    height: auto;
    width: 90%;
    margin-top: 10%;
    display: block;
    position: relative;

  } */

  .items {
    display: flex;
    flex-flow: column nowrap;
  }
}

/* @media only screen and (max-width: 1227px) and (min-width: 477px)  {

} */


.item-wrapper {
}



.widget-container {
  /* width: 60%;
  max-width: 600px;
  min-width: 500px; */
  height: auto;
  width: 90%;
  margin-top: 10%;
  display: block;
  position: relative;

}



.items {
  border-top: 2px solid gray;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.item-wrapper {
  /* width: calc(100%/3 - 5px); */
  width: 31%;
  min-width: 180px;
  max-width: 235px;
  /* max-width: 350px; */
  margin: 5px;
  cursor: pointer;
  flex: 0 1 auto;
  position: relative;
  display: inline-flex;
  flex-flow: column wrap;
}

.item-container {
  flex: 1 1 auto;
}

.item-container > .image-wrapper {

  width: 100%;
  position: relative;
}

.item-container > .image-wrapper > .thumbnail {
  width: 100%;
  display: block;
}

.item-title-wrapper {
  font-size: 75%;
}


.item-bottom-branding {
  font-size: 50%;
  font-weight: bold;
  color: gray;

}
